.form{
    width: 22vw;
    height: 33vw;
    background-color: red;
    padding: 1vw;
}

.formup{
    width: 100%;
    height: 8%;
    /* background-color: cadetblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.formup h4{
    font-size: 1.5vw;
}

.icon{
    font-size: 1.2vw;
    color: #c3c3c3;
}

.formlow{
    width: 100%;
    height: 92%;
    background-color: aqua;
    padding-top: .5vw;
}

.formlow p{
    margin-left: .8vw;
    font-size: .9vw;
}

.inputt{
    width: 20vw;
    height: 2.3vw;
    margin-top: .5vw;
    margin-left: .6vw;
    background-color: white;
    outline: none;
    border: solid 1px #c3c3c3;
    overflow-y: auto;
}
