.leftup{
    width: 100%;
    height: 3vw;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    font-size: 1.1vw;
    padding-top: 2vw;
}

.leftup a{
    text-decoration: none;
    color: #007bff;
    margin-left: 1vw;
    font-size: 1.2vw;
}

.leftup p{
    font-size: 1.2vw;
}

.icon{
    margin-top: .2vw;
    font-size: 1.3vw;
}

.leftlow{
    /* width: 100%; */
    /* height: 99%; */
    /* background-color: aqua; */
    /* border-right: 1px solid #c3c3c3;
    margin-left: 1vw; */

        width: 100%;
        height: 99%;
        border-right: 3px solid #c3c3c3;
        margin-left: 1vw;
        min-width: 6px; /* Adjust this value based on your requirements */
        overflow-x: hidden; /* Ensure horizontal scroll if the content overflows */
    
    
}


.lowup{
    width: 90%;
    height: 7vw;
    /* background-color: darkblue; */
    margin-top: 2vw;
    padding-left: 1vw;
    padding-top: 1vw;
    position: relative;
    border-bottom: 1px solid #c3c3c3;
}

.lowup p{
    font-size: 1.1vw;
    margin-top: 1.3vw;
}

.on{
    width: 2.6vw;
    height: 1.3vw;
    background-color: rgb(214, 212, 212);
    position: absolute;
    top : 3.9vw;
    right: 1vw;
    border-radius: 20px;
    padding-left: .3vw;
    padding-top: .1vw;
}

.off{
    width: 1vw;
    height: 1vw;
    background-color: white;
    border-radius: 50%;
}

.prices{
    width: 90%;
    height: 16vw;
    /* background-color: red; */
    padding-left: 1vw;
    padding-top: 1vw;
    position: relative;
    border-bottom: 1px solid #c3c3c3;
}

.slideprize{
    width: 68%;
    height: .27vw;
    /* background-color: black; */
    margin-top: 3vw;
    position: relative;
    margin-left: 2rem;
}

.leftprize{
    width: 1.5vw;
    height: 1.5vw;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 5.1vw;
    left: .8vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: none;
}

.rightprize{
    width: 1.5vw;
    height: 1.5vw;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 5.1vw;
    right: 5.8vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: none;
}

.rate{
    width: 100%;
    height: 4vw;
    /* background-color: crimson; */
    margin-top: 2vw;
    display: flex;
    /* justify-content: space-around; */
}

.rate button{
    height: 3vw;
    width: 8vw;
    /* padding: 1vw; */
    margin-left: .7vw;
    border: 1px solid black;
    border-radius: 5px;
    background: none;
    background-color: rgb(214, 212, 212);
    font-size: 1vw;
    color: #000;
}

.btnn{
    height: 3vw;
    width: 16.5vw;
    /* padding: 1vw; */
    margin-left: .7vw;
    border: 1px solid black;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    background-color: white;
    font-size: 1vw;
    color: #000;
}

.rooms{
    width: 90%;
    height: 7vw;
    /* background-color: red; */
    padding-left: 1vw;
    padding-top: 1vw;
    border-bottom: 1px solid #c3c3c3;
}

.left p{
    margin-top: .8vw;
    font-size: 1vw;
}
.numbers{
    width: 95%;
    height: 3vw;
    /* background-color: crimson; */
    display: flex;
}

.filters{
    width: 90%;
    height: 18vw;
    /* background-color: #007bff; */
    padding-left: 1vw;
    padding-top: 1vw;
    border-bottom: 1px solid #c3c3c3;
}

.filters p{
    font-size: 1vw;
    padding-left: 1vw;
    margin-top: .5vw;
    font-weight: 500;
    font-size: 1.2vw;
}

.filters input{
    margin-right: 1vw;
    width: 1.1vw;
    height: 1.1vw;
    margin-top: .5vw;
}

.numbers p{
    font-size: 1vw;
}

.see{
    text-decoration: underline;
}

.left{
    width: 50%;
    height: 100%;
    /* background-color: blueviolet; */
    padding-top: .5vw;
    padding-left: .5vw;
}

.right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: .5vw;
    padding-left: .5vw;
}

.bt{
    background-color: #f7f5f5;
    padding-left: .7vw;
    padding-top: .2vw;
    border-radius: 5px;
}

.right p{
    width: 2vw;
    height: 2vw;
    display: flex;
    align-items: center;
}

.nightprice{
    width: 90%;
    height: 18vw;
    /* background-color: red; */
    padding: 1vw 0 0 1vw;
    border-bottom: 1px solid #c3c3c3;
}

.nightprice input{
    width: 1vw;
    height: 1vw;
    /* padding-top: 2vw; */
    margin-top: 1.3vw;
    padding-left: 1vw;
}


.nightprice p{
    font-size: 1vw;
}

.rightlow{
    width: 90%;
    height: 7vw;
    /* background-color: red; */
    padding-left: 1vw;
    padding-top: 1vw;
}

.lowupper{
    width: 100%;
    height: 60%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: .5vw;
    
}

.lowupper p{
    font-size: 1.3vw;
    
}

.lowupper p:hover {
    background-color: lightgray;
    cursor: pointer;
    transition: background-color 0.3s;  /* Change background color on hover */
}
.rightlow button{
    width: fit-content;
    padding: .5vw;
    border-radius: 5px;
    font-size: .8vw;
    background-color: #f0efef;
    border: none;
    color: #000;
    font-size: 1vw;
}
.btnn:hover {
    background-color: black; /* Change background color on hover */
    color: white; /* Change text color on hover */
}
.rc-slider-track, .rc-slider-tracks {
    position: absolute;
    height: 4px;
    background-color: black !important;  /* Ensure the black background is applied */
    border-radius: 6px;
}

.rc-slider-handle {
    border: solid 2px #352924 !important;
}/* In your CSS module (e.g., styles.module.css) */
.sliderCustom {
    background-color: #f0f0f0; /* Change this to your desired background color */
    border-radius: 5px; /* Optional: Add rounded corners */
    height: 10px; /* Optional: Adjust height for better visibility */
}
.MuiSlider-valueLabelLabel{
    color: #000 !important;
}