.addblock{
  display: flex;
  align-items:center ;
  justify-content: center;
    height:fit-content;
    /* width:fit-content; */
    /* margin-left: 9%; */
    /* background-color: black; */
    cursor: pointer;
    margin-top: 2vw;
}
.addblock img{
    border-radius: 10px;
}
@media (min-width: 1px) and (max-width: 425px) {
    .addblock {
      display: none;
    }
  }