*{
  margin: 0%;
  padding: 0%;
}
/* index.css or App.css */
body {
  font-family: 'Inter', sans-serif; /* Set the font family globally */
  margin: 0; /* Optional: reset margin */
  padding: 0; /* Optional: reset padding */
  font-style: normal;
}

.maindiv{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0%;
  padding: 0%;
  position: relative;
}
/* .aniket{
  height: 100vw;
  width: 100%;
} */
.heading{
  margin-top: 5vw;
  margin-left: 8%;
}
.heading2{
  margin-top: 5vw;
  margin-left: 7%;
  font-size: 1.3vw;
  font-weight: 500;

}

.contact{
  position: absolute;
  left: 10%;
  margin-left: 20vw;
}


