
.CardOneMain{
    height: 100%;
    width: 100%;
    background-image: url({img1});
    display:flex;
    flex-direction: column;
    align-items: center;
}
.cardcontent{
    height: 39vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}
.heading{
    font-size: 4vw;
}
.button{
    background-color:rgba(0,0,0,0.6);
    height: 3.5vw;
    width: fit-content;
    padding: 0vw 1.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
}
.nextslide{
    background-color:rgba(0,0,0,0.6);
    border-radius: 5px;
    border: 1px solid white;
    position: absolute;
    left: 8vw;
    height: 3vw;
    width: 3vw;
    color: white;
    font-size: 2vw;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5vw;
    font-weight: 600;
}
.prevslide{
    background-color:rgba(0,0,0,0.6);
    border-radius: 5px;
    border: 1px solid white;
    position: absolute;
    right: 8vw;
    height: 3vw;
    width: 3vw;
    color: white;
    font-size: 2vw;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5vw;
    font-weight: 600;
    
}
@media (min-width:1px) and (max-width:425px) {
    .cardcontent{
        height: 60vh;
    }
    .heading{
        font-size: 4vh;
        width: 50%;
        text-align: center;
        font-weight: 700;
    }
    .button{
        height: fit-content;
        padding: 0.8vh 2vh;
    }
    .nextslide{
        height: 5vh;
        width: 5vh;
        font-size:4vh;
        padding-bottom: 1vh;
    }
    .prevslide{
        height: 5vh;
        width: 5vh;
        font-size:4vh;
        padding-bottom: 1vh;
    }
}