.loactionMain{
    height: 24vw;
    width: 90%;
    margin-left: 2%;
}

.gallery{
    height: 20vw;
    width: 100%;
    margin-top: 2vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding-left: 8%;

}
.gallery img{
    margin-right:6vw ;
    /* background-color: red; */
}
.hotelName{
    font-size: 1.1vw;
    font-weight: 400;
    margin-left: 2vw;
    /* text-align: center; */
}
.heading{
    padding-top: 5vw;
    padding-left: 8%;
    font-weight: 500;
  }

  @media (min-width:1px) and (max-width:425px) {
    .loactionMain{
        /* background-color: red;    */
        height: 65vh;
    }
    .gallery{
        display: flex;
        flex-direction: row;
        /* flex-wrap: nowrap; */
        /* background-color: yellow; */
        height: fit-content;
        /* height: 30%; */
        /* overflow-x: auto; */
    }
    .gallery img{
        height: 9vh;
    }
    .hotelName{
        font-size: 2vh;
        font-weight: 500;
        color: #bababa;
    }
    
  }